.title{
    margin-right: 450px;
    font-size: x-large;
}
.choices{
    font-size:x-large;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin-right: 20px;
}

.align{
    margin-left: 400px;
}

.keimeno{
    font-size: large;
    width: 50%;
    border-left:3px solid black;
    padding: 50px;
}

.choices-info{
    display: flex;
}

.choice-item{
    /* background-color: deepskyblue; */
    /* border: 1px solid black; */
    /* border-radius: 8px; */
    margin-bottom: 10px;
    /* color: white; */
    margin-left: 20px;
    /* padding: 0px; */
}

.breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.selected{
    color: deepskyblue;
    text-decoration: underline;
    /* margin-left: 10px; */
}

.not-selected{
    text-decoration: none;
}

.arrow{
    margin-left: 10px;
    margin-right: 10px;
}

.not-selected:visited{
    color:black;
}