.footer{
    width:100%;
    position: relative;
    margin-top: auto;
    height: 100 px;
    
}

.footer-links{
    font: Helvetica;
    cursor: pointer;
    list-style: none;
}

.flag{
    height: 30px;
    margin-right: 10px;
}