.footer{
    width:100%;
    margin-top: auto;
    height: 100 px;
    background-color: lightgray;
    position: absolute;
    bottom: 0;
}

.footer-links{
    font: Helvetica;
    cursor: pointer;
    list-style: none;
    font-size: large;
    margin-top: 10px;
    display: inline-block;
    /* background-color: lightgray; */
}

.flag{
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.flags {
    float: right;
    margin-top: 30px;
}