.title{
    text-align: center;
    text-decoration: underline;
}

.contact{
    font-size: large;
    margin-top: 30px;
    text-decoration: underline;
}

.info{
    font-size:x-large;
    margin-left: 100px;
    margin-top: 5px;
}

.working-time{
    text-align:center;
    font-size: large;
}

.appointment{
    display:flex;
}

.contact2{
    font-size:large;
    margin-top:30px;
    text-decoration: underline;
    margin-left: 5px;
}

.rantevou{
    margin-top: 30px;
    margin-left: 5px;
    font-size: large;
}

.breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.selected{
    color: deepskyblue;
    text-decoration: underline;
}

.not-selected{
    text-decoration: none;
}

.arrow{
    margin-left: 10px;
    margin-right: 10px;
}

.not-selected:visited{
    color:black;
}

.combine{
    display:flex;
    margin-left: 100px;
}

.icon{
    font-size: x-large;
    margin-top: 25px;
    margin-right: 20px;
}