.navbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    user-select: none;
    background-color: lightblue;
}

.navitem{
    display: inline-block;
    cursor: pointer;
}

.icon{
    font-size: 100px;
}
 /* .text{
    font-size:10px;
 } */