.breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.selected{
    color: deepskyblue;
    text-decoration: underline;
    margin-left: 10px;
}

.not-selected{
    margin-right: 10px;
}

.sxolia{
    width: 500px;
    height:350px;
}

.forma{
    text-align: center;
}

.not-selected:visited{
    color:black;
}